body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;

    background: rgb(247, 247, 247);

    scroll-behavior: smooth;
}



.outerwrap {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'reg';

    column-gap: 10px;
}

.outerwrap .biblecontainer {
    grid-area: reg;
    position: relative;
    margin: 50px auto auto auto;
    padding-bottom: 120px;

    height: min-content;
    width: 67%;  
}
.outerwrap .biblecontainer.pushed {
    padding-left: 120px;
}

.searchBox {
    z-index: 100;
    user-select:none;
    position: fixed;
    top: 30px;
    right: 30px;
}
.searchBox > span.material-icons {
    position: absolute;
    right: 0;

    user-select: inherit;
    cursor: pointer;

    border-radius: 12px;
    background-color: #c7c7c7;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.034);

    padding: 12px;
    font-size: 25px;

    transition: 0.3s ease;

    color: rgb(66, 66, 66);
}
.searchBox > span.material-icons.active {
    color: white;
}
.searchBox > span.material-icons:active {
    transform: scale(0.9);
}
.searchBox > span.material-icons:hover {
    background: #cecece;
}

.searchqueryswrap {
    display: none;
    position: absolute;
    opacity: 0;

    right: 0px;

    height: 50px;
    width: min-content;

    padding-left: 5px;

    border-radius: 12px;
    background-color: #e4e4e4;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.034);

    transition: 0.3s ease;

    grid-template-columns: auto;
    grid-template-rows: 1fr;

    grid-auto-flow: column;
}

.searchqueryswrap.shown {
    width: min-content;
    opacity: 1;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.searchqueryswrap > input:focus{
    outline: none;
    box-shadow: 0 0 0 2px rgb(255, 255, 255);
}
.searchqueryswrap > input{
    margin: 8px 4px;
    border-radius: 10px;
    border: none;
    background-color: #d0d0d0;
    text-indent: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#searchqueryVerse{
    margin-right: 0px;
}
.searchqueryChapter, .searchqueryVerse {
    width: 100px;
}
.searchqueryswrap > div.gobutton {
    cursor: pointer;
    margin: 8px 60px 8px 10px;
    padding: 0 10px;
    width: min-content;
    border-radius: 9px;
    background-color: rgb(138, 138, 138);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.014);
    color: rgb(255 255 255);
    font-size: 15px;
    display: grid;
    place-items: center;
    transition: 0.3s ease;
}
.searchqueryswrap > div.gobutton:active {
    transform: scale(0.9);
}

biblepassageinfo {
    position: relative;
    left: -50%;
    display: block;
    margin-bottom: 20px;
}

biblebook {
    display: block;
    position: absolute;
    left: -50%;
    white-space: nowrap;
    font-weight: 600;
    font-size: 148px;
    color: rgb(228, 228, 228);
    z-index: -1;
}
biblechapterverse {
    display: block;

    position: absolute;
    top: 125px;
    left: 50%;

    font-weight: 600;
    font-size: 30px;

    white-space: nowrap;
    z-index: -1;
}

bibletextcontainer {
    margin-top: 200px;

    display: block;
    color: #1e1e1e;

    font-weight: 400;
    font-size: 20px;
    
    line-height: 46px;
}

versenumber {
    color: #858585;
    font-size: 16px;
    letter-spacing: 2px;
}
versenumber.narrative {
    letter-spacing: unset;
    
    font-style: italic;
    font-weight: 400;

    color: rgb(175, 175, 175);
}

.bookNav {
    margin-top: 10px;
    height: min-content;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content 1fr;
    grid-auto-flow: column;
    /* column-gap: 20px; */
}
.bookNav > hr {
    grid-area: 1/1/1/4;
    width: 100%;
    margin: 20px 0 40px 0;

    border: 1px solid rgb(219, 219, 219);
}
.bookNav > div {
    cursor: pointer;
    padding: 10px 15px;
    height: 50px;
    font-weight: 500;
    display: grid;
    white-space: nowrap;
    width: min-content;
}
.prevChap {
    grid-area: 2/1/2/1;
    color: #7a7a7a;
    border-radius: 16px 0 0 16px;
    place-items: center left;
}
.nextChap {
    grid-area: 2/2/2/4;
    margin-left: auto;
    margin-right: 0;
    color: #3d3d3d;
    border-radius: 0 16px 16px 0;
    place-items: center right;
}


.outerwrap bibletextcontainer > br {
    display: none;
}
.outerwrap bibletextcontainer > br:not(:nth-child(1)):not(:nth-child(2)) {
    display: block;
}

.absoluteIcon {
    user-select: none;
    cursor: pointer;
    position: fixed;
    top: 35px;
    left: 20px;
    width: 140px;
    display: grid;
    place-items: center;
    transition: 0.3s ease;
    color: rgb(114, 114, 114);
    background-color: #dbdbdb;
    border-radius: 12px;
}
.absoluteIcon span{
    margin: 8px 0;
    color: inherit;
}
.absoluteIcon.sticky {
    background-color: #c7c7c7;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.13);

    top: 0;
    left: 0;
    width: 200px;
    border-radius: 0px;
}


.absoluteIcon:hover {
    color: #1e1e1e;
    transform: scale(1);
}
.absoluteIcon.sticky:hover {
    color: #1e1e1e;
    transform: scale(1);
}
.absoluteIcon:active {
    transform: scale(0.9);
}

.sidebar {
    grid-area: reg;
    position: fixed;

    height: 100vh;
    width: 200px;

    left: 0;

    font-size: 15px;
    font-weight: 500;

    border-right: 1px solid #e2e2e2;
    background-color: #f1f1f1;
    
    overflow-y: scroll;
    overflow-x: hidden;

    transition: 0.3s ease;
}
.sidebar.hidden {
    left: -120px;
}
.sidebar.hidden > div.sidebarinner > span.bookName {
    margin: 10px 0 10px 135px;
    width:min-content;
}

.absoluteIcon.hidden{
    top: 20px;
    left: 15px;
    width: 40px;

    background-color: rgba(255, 255, 255, 0);
}
.absoluteIcon.hidden.sticky {
    background-color: #c7c7c7;

    top: 0;
    left: 0;
    width: 80px;
    border-radius: 0px;
}

/* SCROLLING */
.on-scrollbar::-webkit-scrollbar {
    width: 13px;
    transition: 0.3s ease;
}
.on-scrollbar::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 16px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: rgb(187, 187, 187);
    transition: 0.3s ease;
}

.on-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
    transition: 0.3s ease;
}


/* NOT SCROLLING */
.off-scrollbar {
    transition: 0.3s ease;
}
.off-scrollbar::-webkit-scrollbar {
    background-color: transparent;
    transition: 0.3s ease;
}
.off-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    transition: 0.3s ease;
}

.sidebarinner {
    margin: 80px 0 0 0;
    height: min-content;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;

    transition: inherit;
}


.sidebar > div > span.bookName {
    cursor: pointer;
    margin: 10px 30px 10px 20px;
    border-radius: 12px;
    padding: 10px;
    color: rgb(180, 180, 180);
    white-space: nowrap;
    transition: 0.3s ease;
}
.sidebar > div > span.bookName:hover, .sidebar > div > span.bookName.active {
    background-color: #e6e6e6;
    color: #4e4e4e;
}

.sidebar.hidden > div > span.newTestament {
    margin: 40px 0px 10px 145px;
    white-space: nowrap;
}
.sidebar.hidden > div > span.newTestament::after {
    content:"NT";
}
.sidebar > div > span.newTestament::after {
    content:"New Testament";
}

.sidebar > div > span.newTestament {
    margin: 40px 40px 10px 30px;
    transition: inherit;
}
.sidebar.hidden > div > hr {
    margin: 0 20px 20px 143px;
}
.sidebar > div > hr {
    margin: 0 30px 20px 30px;
    border: rgb(145, 145, 145) 1px solid;
    transition: inherit;
}

@media (max-width: 900px) {
    .outerwrap .biblecontainer {
        margin: 0px auto auto 27px;
        width: 85%;
    }
    .outerwrap .biblecontainer.pushed {
        padding-left: 200px;
    }
    bibletextcontainer {
        font-size: 16px;
        line-height: 41px;
    }
    biblebook {
        line-height: 245px;
        font-size: 58px;
    }
    biblechapterverse {
        top: 130px;
        font-size: 25px;
    }
    .sidebar.hidden {
        left: -200px;
    }

    .searchqueryswrap > input {
        text-indent: 7px;
        font-size: 10px;
    }
    .searchqueryChapter, .searchqueryVerse {
        width: 50px;
    }
    .searchqueryBook {
        width: 60px;
    }
    .searchBox {
        top: 20px;
    }
    .searchBox > span.material-icons {
        padding: 9.5px;
        font-size: 21px;
        color: #727272;
    }
    .searchBox > span.material-icons.active {
        padding: 12px;
        font-size: 25px;
    }
    .absoluteIcon.hidden.sticky, .absoluteIcon.hidden {
        top: 20px;
        left: 15px;
        background-color:rgb(218, 218, 218);
        width: 40px;
        border-radius: 12px;
    }
}