.controlswrapper {
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 80px);
}

.versionControlWrapper > select {
    width:inherit;
    text-indent: calc(((((100vw - 80px) / 2) - 45px)/2));
}

.controlswrapper {
    column-gap: 0;
}

.controlswrapper > div.textControlsWrapper {
    display: none;
}

.controlswrapper > div.searchWrapper {
    margin-left: 10px;
    width: calc(((100vw - 80px) / 2) - 5px);
}
.controlswrapper > div.versionControlWrapper {
    width: calc(((100vw - 80px) / 2) - 5px);
}