body.mobiledevice .bibleControls, body.mobiledevice .bibleControlIcon,body.mobiledevice .bibleControlIconStickyLabel {
    display: none;
}
body.mobiledevice .otherControls {
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
    height: 40px;
    width: 55px;

    border-radius: 10px;
}
body.mobiledevice .translation_changer {
    top: -2px;
    right: -10px;
}
body.mobiledevice .translation_changer select:focus {
    outline: none;
    box-shadow:none;
}