body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;

    background: rgb(247, 247, 247);

    scroll-behavior: smooth;
}
html, body {
    overflow-x: hidden;
}
 body {
    width:100%;
}


.outerwrap {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'reg';

    column-gap: 10px;
}

.messageDisplay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.outerwrap .biblecontainer {
    grid-area: reg;
    position: relative;
    margin: 50px auto auto auto;
    padding-bottom: 120px;

    height: min-content;
    width: 67%;  
}
.outerwrap .biblecontainer.pushed {
    padding-left: 120px;
}

.searchBox {
    z-index: 100;
    user-select:none;
    position: fixed;
    top: 30px;
    right: 30px;
}
.searchBox > span.material-icons {
    position: absolute;
    right: 0;

    user-select: inherit;
    cursor: pointer;

    border-radius: 12px;
    background-color: #f7f7f7;
    box-shadow:  5px 5px 10px #e3e3e3,
    -5px -5px 10px #ffffff;

    padding: 12px;
    font-size: 25px;

    transition: 0.3s ease;

    color: rgb(206, 206, 206);
}
.searchBox > span.material-icons.active {
    color: rgb(206, 206, 206);
    box-shadow: none;
}
.searchBox > span.material-icons:active {
    transform: scale(0.9);
}
.searchBox > span.material-icons:hover {
    color: rgb(120, 120, 120);
}

.searchqueryswrap {
    display: none;
    position: absolute;
    opacity: 0;

    right: 0px;

    height: 49px;
    width: min-content;

    padding-left: 5px;

    border-radius: 12px;
    background-color: #f7f7f7;
    box-shadow:  5px 5px 10px #e3e3e3,
    -5px -5px 10px #ffffff;

    transition: 0.3s ease;

    grid-template-columns: auto;
    grid-template-rows: 1fr;

    grid-auto-flow: column;
}

.searchqueryswrap.shown {
    width: min-content;
    opacity: 1;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.searchqueryswrap > input:focus{
    outline: none;
    box-shadow: 0 0 0 2px rgb(255, 255, 255);
}
.searchqueryswrap > input{
    margin: 8px 4px;
    border-radius: 10px;
    border: none;
    background-color: #ececec;
    text-indent: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.searchqueryswrap > input::placeholder {
    color: #8f8f8f;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.searchqueryswrap > input.unfilled::placeholder {
    color: rgb(203, 59, 59);
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#searchqueryVerse{
    margin-right: 0px;
}
.searchqueryChapter, .searchqueryVerse {
    width: 100px;
}
.searchqueryswrap > div.gobutton {
    cursor: pointer;
    margin: 8px 60px 8px 10px;
    padding: 0 10px;

    width: min-content;
    color: #1e1e1e;

    border-radius: 9px;
    background-color: #f7f7f7;
    box-shadow:  4px 4px 8px #d2d2d2,
    -4px -4px 8px #ffffff;

    font-size: 15px;

    display: grid;
    place-items: center;
    transition: 0.3s ease;
}
.searchqueryswrap > div.gobutton:active {
    transform: scale(0.9);
}

biblepassageinfo {
    position: relative;
    left: -50%;
    display: block;
    margin-bottom: 20px;
}

biblebook {
    display: block;
    position: absolute;
    left: -50%;
    white-space: nowrap;
    font-weight: 600;
    font-size: 148px;
    color: rgb(228, 228, 228);
    z-index: -1;
}
biblechapterverse {
    display: block;

    position: absolute;
    top: 125px;
    left: 50%;

    font-weight: 600;
    font-size: 30px;

    white-space: nowrap;
    z-index: -1;
}
biblechapterverse br {
    display: none !important;
}

bibletextcontainer {
    margin-top: 200px;

    display: block;
    color: #1e1e1e;

    font-weight: 400;
    font-size: 20px;
    
    line-height: 56px;
}

versenumber {
    color: #858585;
    font-size: 16px;
    letter-spacing: 2px;
}

versenumber.narrative {
    letter-spacing: unset;
    font-size: unset;

    font-style: italic;
    font-weight: 400;

    color: unset;
}
versenumber.narrative::before {
    content: '(';
}
versenumber.narrative::after {
    content: ')';
}

span.footer {
    color: gray;
}

.bookNav {
    margin-top: 10px;
    height: min-content;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content 1fr;
    grid-auto-flow: column;
    /* column-gap: 20px; */
}
.bookNav > hr {
    grid-area: 1/1/1/4;
    width: 100%;
    margin: 20px 0 40px 0;

    border: 1px solid rgb(219, 219, 219);
}
.bookNav > div {
    cursor: pointer;
    padding: 10px 15px;
    height: 50px;
    font-weight: 500;
    display: grid;
    white-space: nowrap;
    width: min-content;
}
.prevChap {
    grid-area: 2/1/2/1;
    color: #7a7a7a;
    border-radius: 16px 0 0 16px;
    place-items: center left;
}
.nextChap {
    grid-area: 2/2/2/4;
    margin-left: auto;
    margin-right: 0;
    color: #3d3d3d;
    border-radius: 0 16px 16px 0;
    place-items: center right;
}

.outerwrap bibletextcontainer > br {
    display: none;
}
.outerwrap bibletextcontainer > br:not(:nth-child(1)):not(:nth-child(2)) {
    display: block;
}

.bibleControlIcon {
    cursor: pointer;

    position: absolute;
    top: 125px;
    right: 10px;

    padding: 10px;

    box-shadow: 15px 15px 41px #cdcdcd, -21px -21px 41px #ffffff;
    border-radius: 10px;
    background-color: #f9f9f9;
    color: #8c8c8c;

    font-weight: 600;
    font-size: 25px;

    transition: color 0.2s, background-color 0.2s;
}



.bibleControlIcon.active {
    background-color: white;
    color: #4d4d4d;
}

.bibleControlIcon:hover {
    color: #4d4d4d;
}

.bibleControls {
    position: fixed;
    top: 35px;
    left: 16.4%;
    width: min-content;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f7f7f7;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 15px 15px 41px #cdcdcd, -21px -21px 41px #ffffff;
    display: grid;
    grid-auto-flow: column;

    transition: opacity 0.3s, top 0.2s ease-out;
}

.bibleControls.hidden {
    top: 30px;
    opacity: 0;
}

.bibleControl {
    margin: 8px 0;
    display: grid;
    grid-auto-flow: column;
}

.bibleControlLabel {
    user-select: none;
    margin: 0 10px 0 5px;
    font-weight: 400;
    color: #151515;
    white-space: nowrap;
}

.range_value_label {
    color: #a0a0a0;
}

.bibleControl > input {
    -webkit-appearance: none;
    appearance: none;
    width: auto;
    height: 10px;
    border-radius: 10px;
    margin: 4px 40px 0 5px;
    background: #e8e8e8;
}
.bibleControl > input:last-of-type {
    margin: 4px 10px 0 5px;
}

.bibleControl > input::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    
    width: 18px; 
    height: 18px; 

    border-radius: 10px;
    background: #d8d8d8;

    cursor: pointer; 

    transition: transform 0.2s, background 0.2s;
}

.bibleControl > input::-webkit-slider-thumb:hover {
    background: #bbbbbb;
    transform: scale(1.3)
}

.resetLabel {
    margin: auto 10px;
    font-size: 13.333px;
    font-weight: 500;
    color: #bdbdbd;
    transition: color 0.2s ease;
}
.resetButton {
    height: 34px;
    cursor: pointer;
    margin: 0 15px 0 10px;
    display: grid;
}
.resetButton > .material-icons {
    display: none;
    margin: auto;
    font-size: 23px;
    color: #8e8e8e;
    transition: color 0.2s ease;
}
.resetLabel:hover {
    color: #5c5c5c;
}

.doneControl {
    background: #ececec;
    border-radius: 7px;
    border: none;
    color: #8e8e8e;
    padding: 0 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

.doneControl:hover {
    background: #e9e9e9;
    color: #5c5c5c;
}


.absoluteIcon {
    user-select: none;
    cursor: pointer;
    position: fixed;
    top: 65px;
    left: 50px;
    width: 140px;
    display: grid;
    place-items: center;
    transition: 0.3s ease;
    color: rgb(114, 114, 114);
    background-color: #dbdbdb;
    border-radius: 12px;
}
.absoluteIcon span{
    margin: 8px 0;
    color: inherit;
}
.absoluteIcon.sticky {
    background-color: #e0e0e0;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 0%);
    top: 35px;
    left: 30px;
    width: 200px;
    border-radius: 20px 20px 0 0;
}


.absoluteIcon:hover {
    color: #1e1e1e;
    transform: scale(1);
}
.absoluteIcon.sticky:hover {
    color: #1e1e1e;
    transform: scale(1);
}
.absoluteIcon:active {
    transform: scale(0.9);
}

.sidebar {
    grid-area: reg;
    position: fixed;
    top: 4vh;
    height: 92vh;
    width: 200px;
    left: 30px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 20px;
    box-shadow: 41px 41px 82px #dcdcdc, -41px -41px 82px #efefef;
    background-color: #f1f1f1;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: 0.3s ease;
}
.sidebar.hidden {
    top: 0;
    border-radius: 0;
    left: -120px;
    height: 100vh;
    box-shadow: 41px 41px 82px #dcdcdc, -41px -41px 82px #efefef;
}
.sidebar.hidden > div.sidebarinner > span.bookName {
    margin: 10px 0 10px 135px;
    width:min-content;
}
.sidebar.ready {
    left: -200px;
}

.absoluteIcon.hidden{
    top: 20px;
    left: 15px;
    width: 40px;

    background-color: rgba(255, 255, 255, 0);
}
.absoluteIcon.hidden.sticky {
    background-color: #e0e0e0;

    top: 0;
    left: 0;
    width: 80px;
    border-radius: 0px;
}

/* SCROLLING */
.on-scrollbar::-webkit-scrollbar {
    width: 13px;
    transition: 0.3s ease;
}
.on-scrollbar::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 16px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: rgb(187, 187, 187);
    transition: 0.3s ease;
}

.on-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
    transition: 0.3s ease;
}


/* NOT SCROLLING */
.off-scrollbar {
    transition: 0.3s ease;
}
.off-scrollbar::-webkit-scrollbar {
    background-color: transparent;
    transition: 0.3s ease;
}
.off-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    transition: 0.3s ease;
}

.sidebarinner {
    margin: 80px 0 0 0;
    height: min-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
    transition: inherit;
}


.sidebar > div > span.bookName {
    cursor: pointer;
    margin: 10px 30px 10px 20px;
    border-radius: 12px;
    padding: 10px;
    color: rgb(180, 180, 180);
    white-space: nowrap;
    transition: 0.3s ease;
}
.sidebar > div > span.bookName:hover {
    background-color: #f4f4f4;
    color: #4e4e4e;
}
 .sidebar > div > span.bookName.active {
    color: #4e4e4e;
    background-color: #f7f7f7;
    box-shadow: 5px 5px 11px #dcdcdc, -5px -5px 11px #ffffff;
}

.sidebar.hidden > div > span.newTestament {
    margin: 40px 0px 10px 145px;
    white-space: nowrap;
}
.sidebar.hidden > div > span.newTestament::after {
    content:"NT";
}
.sidebar > div > span.newTestament::after {
    content:"New Testament";
}

.sidebar > div > span.newTestament {
    margin: 40px 40px 10px 30px;
    transition: inherit;
}
.sidebar.hidden > div > hr {
    margin: 0 20px 20px 143px;
}
.sidebar > div > hr {
    margin: 0 30px 20px 30px;
    border: rgb(145, 145, 145) 1px solid;
    transition: inherit;
}

.otherControls {
    position: fixed;
    right: 30px;
    bottom: 30px;
    
    background-color: white;
}

.bibleControlIconStickyLabel {
    cursor: pointer;
    appearance: none;
    display: block;

    position: absolute;

    right: 48px;
    bottom: 0;

    width: min-content;
    height: 44px;

    padding: 1px 15px 0 15px;

    border: none;
    border-radius: 10px;
    background-color: #f9f9f900;

    color: #8f8f8f;

    font-weight: 400;
    font-size: 13.333px;
    transition: box-shadow 0.2s, color 0.2s;
}
.bibleControlIconStickyLabel:focus {
    color: rgb(52, 52, 52);
    outline: none;
    box-shadow: 0 0 0 2px #f7f7f7, 0 0 0 3px rgb(227 227 227);
}

.translation_changer {
    position: absolute;
    right: 0px;
    bottom: 0px;

    width: 55px;
    height: 45px;

    border-radius: 12px;
}
.translation_changer select {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: inherit;
    background-color: #f7f7f700;
    color: #8f8f8f;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
    text-align-last:center;
    transition: box-shadow 0.2s, color 0.2s;
}

.translation_changer select:focus {
    color: rgb(52, 52, 52);
    outline: none;
    box-shadow: 0 0 0 2px #f7f7f7, 0 0 0 3px rgb(227, 227, 227);
}

.translation_changer select::-ms-expand {
    display: none;
}

@media (max-width: 900px) {
    .bibleControls, .bibleControlIcon, .bibleControlIconStickyLabel {
        display: none;
    }
    .otherControls {
        background-color: white;
        left: 50%;
        transform: translateX(-50%);
        top: 25px;
        height: 40px;
        width: 55px;

        border-radius: 10px;
    }
    .translation_changer {
        top: -2px;
        right: -10px;
    }
    .translation_changer select:focus {
        outline: none;
        box-shadow:none;
    }
    .outerwrap .biblecontainer {
        margin: 0px auto auto 27px;
        width: 85%;
    }
    .outerwrap .biblecontainer.pushed {
        padding-left: 200px;
    }
    bibletextcontainer {
        font-size: 16px;
        line-height: 37px;
    }
    biblebook {
        line-height: 245px;
        font-size: 58px;

        left: 50%;
        max-width: 320px;

        overflow: hidden;
        text-overflow: ellipsis;
    }
    biblechapterverse {
        top: 130px;
        font-size: 25px;
    }

    .sidebarinner {
        transition: none;
    }
    .sidebar.hidden > .sidebarinner {
        visibility: hidden;
    }
    .sidebar.hidden {
        z-index: 1000;
        left: -120px;
        visibility: hidden;
    }

    .searchqueryswrap.shown {
        width: 150px;
    }
    .searchqueryswrap {
        width: 150px;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        height: 220px;
    }
    .searchqueryswrap > input {
        text-indent: 7px;
        font-size: 13px;
        width: 80px;
    }
    .searchqueryswrap > div.gobutton {
        margin: 8px 20px 10px 8px;
        padding: 0 10px;
        width: auto;
    }
    .searchqueryChapter, .searchqueryVerse {
        width: 50px;
    }
    .searchqueryBook {
        width: 60px;
    }
    .searchBox {
        top: 20px;
    }
    .searchBox > span.material-icons {
        padding: 9.5px;
        font-size: 21px;
        color: #727272;
    }
    .searchBox > span.material-icons.active {
        padding: 12px;
        font-size: 25px;
    }
    .absoluteIcon.hidden.sticky, .absoluteIcon.hidden {
        z-index: 1000;
        visibility: visible;
        top: 20px;
        left: 15px;
        background-color:rgb(247, 247, 247);
        width: 40px;
        border-radius: 12px;
    }
}